#ignore sensitive files
config.py
.env

# Python
__pycache__/
*.py[cod]
venv/
*.env

# IDE files
.vscode/
.idea/

# System files
.DS_Store

#external programs
ffmpeg.exe

# Python
*.pyc
__pycache__/
backend/.venv/
backend/uploads/

# Node/Vite
frontend/node_modules/
frontend/dist/

uploads/